<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoFinalCjr3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if  user_signed_in? %>
    <nav style="float:right">
      <%= current_user.email %>
      <% if current_user.admin %>
        <%=link_to "Todos os Pedidos", refunds_path %>
        <%= link_to "Edit Profile", edit_user_registration_path%>

      <% end %>
      <%=link_to "Meus Pedidos", refunds_path %>
      <%=link_to "Novo Pedido", new_refund_path %> 
      <%= link_to "Log-out", destroy_user_session_path, method: :delete %> 
    </nav>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
